* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


h1 {
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

hr {
  margin: 1.5rem 0;
  border: 1px solid rgba(120, 120, 120, 0.6);
}

img {
    width: 100%;
    object-fit: cover;
}

body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 20fr 1fr;
    font-family: 'Baskervville', serif;
    color: linen;

}

.header-container {
    position: fixed;
    background-color: rgba(44, 45, 47);
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 10vh;

    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
}

.header-title {
    grid-column: 1 / 2;
    justify-self: flex-end;
    font-size: 2rem;
}

.header-nav {
    width: 70%;
    grid-column: 2 / 3;
    font-size: 2rem;

}

.header-nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header-nav li {
    list-style-type: none;
}

.header-nav a,
.side-bar a {
    text-decoration: none;
}

.header-nav a:link,
.side-bar a:link {
    color: linen  
}

.side-bar {
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr 7fr;
    background-color: brown;
}

.side-bar img {
    width: 60%;
    border-radius: 50%;
    margin-top: 10px;
    align-self: end;
    justify-self: center;
}

.side-bar-hero {
    text-align: center;
    font-size: 2em;
    align-self: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 2rem;
  
}

.social-icons a {
    padding-bottom: 20px;
}

.main-container {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#about {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;

    background-color: rgba(76, 86, 122);
}

.hero {
    text-align: center;
    flex: 1;
}


.hero-subtitle {
    font-size: 1.3rem;
}

.introduction {
    flex: 1;
    font-size: 1.5rem;
}

@media only screen and (max-width: 550px) {

    #about {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        
    }
    
}

#portfolio h2 {
    text-align: center;
    margin-right: 10px;
    font-size: 2rem;
}

#portfolio {
    background-color: rgba(44, 45, 47);
}


.portfolio-title {
    padding: 20px;
}

#portfolio .portfolio-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.portfolio-cards .portfolio-card {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    background-color: rgb(20, 30, 40);
    height: auto;
    border-radius: 10%;
    overflow:hidden
}

.portfolio-card h3 {
    text-align: center;
    place-self: center;
}

.portfolio-card img {
    object-fit: contain;
    margin: auto;
    place-self: center;
}


footer {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgba(76, 86, 122);
}




a.portfolio-project-button {
    border-radius: 3px;
    color: whitesmoke;
    font-size: 1.5em;
    place-self: center;
    text-decoration: none;

}